
@import './utils/variables';
@import './utils/utilities';
@import './base/reset';

@import './placeholders/link';
@import './components/header';
@import './components/logo';
@import './components/header-nav';
@import './components/header-contacts';

@import './components/promo';
@import './components/features';
@import './components/activity';

@import './components/team';
@import './components/social';
@import './components/client';

@import './components/footer';
@import './components/footer-contacts';
@import './components/footer-social';
@import './components/subscribe';

@import './components/backdrop';
@import './components/modal';

@import './components/portfolio';
@import './components/card';

