.activity {
   padding-top: 0;
}

.activity__title {
   margin-bottom: 50px;

   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   color: #212121;

}

.activity__list {
   display: flex;
   gap: 30px;
}

.activity__block {
position: relative;
}

.activity__about {
position: absolute;
bottom: 0;

width: 100%;
height: 70px;

background: rgba(47, 48, 58, 0.8);

}

.activity__text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   font-weight: 700;
   font-size: 14px;
   line-height: calc(16/14);
   text-transform: uppercase;
   color: $color-text-white;
}