.client__title {
   margin-bottom: 30px;

   font-weight: 700;
   font-size: 28px;
   line-height: calc(33/28);
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;

   @media screen and (min-width: 1200px) {
      margin-bottom: 50px;

      font-size: 36px;
      line-height: calc(42/36);
   }
}

.client__list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.client__item {
   flex-basis: calc((100% - 30px) / 2);
   height: 92px;
   border: 1px solid #AFB1B8;
   border-radius: 5px;

   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      border:1px solid $color-accent;
   }

   @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
   }
   
   @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 150px) / 6);
   }
}

.client__link {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 100%;
   height: 100%;
}

.client__icon {
   fill: #AFB1B8;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   .client__link:hover &,
   .client__link:focus & {
   fill: $color-accent;
   }
}

