.footer {
   padding-top: 60px;
   padding-bottom: 60px;

   background-color: #2F303A;
}

.footer__container {
   display: flex; 

   @media screen and (max-width: 767px) {
      flex-direction: column;
   }

   @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   @media screen and (min-width: 1200px) {
   align-items: baseline;
   }
}

.footer__logo {
   color: $color-text-white;  
}