.header-contacts {
   display: flex;
   margin-left: auto;

   @media screen and (max-width: 767px) {
      display: none;
   }

   @media screen and (max-width: 1199px) {
      flex-direction: column;
      gap: 10px;
   }

   @media screen and (min-width: 1200px) {
      align-items: center;
   }
}

.header-contacts__item:not(:first-child) {
   margin-left: 50px;

   @media screen and (max-width: 1199px) {
      margin-left: 0;
   }
}

.header-contacts__link {
   @extend %link; 

   display: flex;
   align-items: center;
   padding: 32px 0;

   color: $color-text-gray;

   @media screen and (max-width: 1199px) {
      padding: 0;

      font-size: 12px;
      line-height: calc(14/12);
   }
}

.header-contacts__icon {
   margin-right: 10px;
   fill: #757575;

   .header-contacts__link:hover & {
      fill: $color-accent;
   }
}

