.menu-toggle {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 40px;
   height: 40px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: auto;

   padding: 0;
   border: none;
   background-color: transparent;

   @media screen and (min-width: 768px) {
      display: none;
   }

   &.js-close-menu {
      position: absolute;
      top: 10px;
      right: 15px;
   }

   &:hover,
   &:focus {
      fill: #2196F3;
   }
}


.menu-container {
   display: flex;
   flex-direction: column;

   position: fixed;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;
   padding: 48px 40px;

   background-color: #fff;

   transform: translateX(100%);

   &.is-open {
      transform: translateX(0);
   }
}

.mobile-menu-nav {
   margin-bottom: auto;
}

.mobile-menu-nav__link {
   font-weight: 500;
   font-size: 40px;
   line-height: calc(47/40);
   text-align: center;
   letter-spacing: 0.02em;

   color: #212121;;
}

.mobile-menu-nav__link--active {
   color: #2196F3;
}

.mobile-menu-contacts {
   margin-bottom: 64px;
}

.mobile-menu-contacts__link {
   font-weight: 500;
   font-size: 24px;
   line-height: calc(28/24);
   letter-spacing: 0.02em;

   color: #757575;
}
.mobile-menu-contacts__phone {
   display: block;
   margin-bottom: 32px;

   font-size: 34px;
   line-height: calc(40/34);

   color: #2196F3;
}

.mobile-menu-social {
   display: flex;
   flex-wrap: wrap;
}

.mobile-menu-social__item:not(:last-child) {
   margin-right: 20px;
}

.mobile-menu-social__item {
   position: relative;

   &:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      display: block;
      background-color: rgba(33,33,33,.2);
      width: 1px;
      height: 100%;
   }
}

.mobile-menu-social__link {
   font-weight: 500;
   font-size: 18px;
   line-height: calc(22/18);
   letter-spacing: 0.02em;

   color: #2196F3;
}

